#Filter-Menu {
	position: fixed;
	z-index: 100;
	top: 1em;
	right: 0;
	background-color: #f2f2f2;
	border-left-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	padding: 0.5em;
	border-color: #2C6700;
	border-width: 0.2em;
	max-width: 400px;
	display: none;
}

#Filter-Menu a {
	text-decoration: none;
	color: white;
}

#Filter-Menu a:hover {
	color: white;
}

#Filter-Menu-Header {
	text-align: center;
}

#Close-Filter-Menu {
	float: left;
	color: #92CD00;
}

#Close-Filter-Menu:hover {
	cursor: pointer;
	color: #2C6700;
}

#Open-Filter-Menu {
	position: fixed;
	z-index: 100;
	top: 1em;
	right: 0;
	font-size: 2em;
	border-top-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
}