a {
	color: #92CD00;
}

a:hover {
	color: #2C6700;
}

#MainContent {
	margin-bottom: 2em;
}

.notification-box {
	border-style: solid;
	border-width: 1px;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 0.3em;
}

.bottom-fixed-center {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 1em;
	margin: 0 auto;
}

.top-fixed-center {
	position: fixed;
	left: 0;
	right: 0;
	top: 1em;
	margin: 0 auto;
}

.red-error-text {
	color: #a94442;
	background-color: #f2dede;
}

.yellow-warning-text {
	color: yellow;
	background-color: orange;
	border-color: orange;
}

.green-success-text {
	color: lightgreen;
	background-color: green;
	border-color: green;
}

.ajax-loading {
	background-image: url("../Pictures/Standard/ajax-loader-small.gif");
	background-repeat: no-repeat;
	background-position: center;
}

.inline-block {
	display: inline-block;
}

.display-none {
	display: none;
}

.standard-rounded-corners {
	border-radius: 0.3em;
}

.standard-rounded-corners-top {
	border-top-right-radius: 0.3em;
	border-top-left-radius: 0.3em;
}

.standard-olive-wrapper {
	border-style: solid;
	border-width: 1px;
	border-color: #92CD00;
	padding: 0.5em;
}

.olive-wrapper-grey-background {
	border-style: solid;
	border-width: 1px;
	border-color: #92CD00;
	background-color: #f2f2f2;
	padding: 0.5em;
}

.olive-wrapper-white-background {
	border-style: solid;
	border-width: 1px;
	border-color: #92CD00;
	background-color: white;
	padding: 0.5em;
}

.standard-button {
	border-style: solid;
	border-width: 1px;
	border-color: #92CD00;
	background-color: #92CD00;
	color: white;
	padding: 0.1em;
}

.standard-button:hover, .recipe-section-header:hover {
	background-color: #2C6700;
	color: white;
	cursor: pointer;
}

.olive-text-color {
	color: #92CD00;
}

.olive-background-color {
	background-color: #92CD00;
	color: white;
}

.olive-text-color-center {
	color: #92CD00;
	text-align: center;
}

.dark-green-text-color {
	color: #2C6700;
}

.dark-green-background-color {
	background-color: #2C6700;
}

.roboto-font {
	font-family: 'Roboto', sans-serif;
}

.standard-box-shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.disabled-input {
	background-color: grey;
	opacity: 0.3;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	color: white;
	padding: 0.1em;
}

.ui-dialog-titlebar {
	background-color: #92CD00;
	color: white;
}

.ui-button {
	background-color: #92CD00;
	color: white;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

/* Fix for jQuery dialog modal transparency that doesn't seem to work in some browser */
.ui-widget-overlay {
	opacity: 0.3;
}