/* General use */
.inline-block {
	display: inline-block;
}

.standard-olive-wrapper {
	border-style: solid;
	border-width: 1px;
	border-color: #73AD21;
	padding: 0.5em;
}

.olive-wrapper-grey-background {
	border-style: solid;
	border-width: 1px;
	border-color: #73AD21;
	background-color: #f2f2f2;
	padding: 0.5em;
}

.olive-wrapper-white-background {
	border-style: solid;
	border-width: 1px;
	border-color: #73AD21;
	background-color: white;
	padding: 0.5em;
}

.standard-button {
	border-style: solid;
	border-width: 1px;
	border-color: #73AD21;
	background-color: #73AD21;
	color: white;
	padding: 2px 2px 2px 2px;
}

.standard-button:hover {
	background-color: green;
	color: white;
	cursor: pointer;
}

.standard-olive-coloring {
	background-color: #73AD21;
	color: white;
}

.standard-button {
	border-style: solid;
	border-width: 1px;
	border-color: #73AD21;
	border-bottom-style: none;
	z-index: 10;
	background-color: #73AD21;
	color: white;
	padding: 2px 2px 2px 2px;
	margin-bottom: -1px;
}

/* Recipe styles */
.recipe-body {
	border-style: solid;
	border-width: 1px;
	border-color: #73AD21;
	padding: 5px;
	background-color: white;
	word-break: break-all;
}

.recipe {
	border-style: solid;
	border-width: 4px;
	border-color: green;
	padding: 20px;
	background-color: #f2f2f2;
}

.recipe-title {
	text-align: center;
	color: #73AD21;
}

.recipe-picture {
	width: 50%;
}

.standard-top-radius {
	border-top-right-radius: 4px;
		border-top-left-radius: 4px;
}

#Recipe-Title-Edit {
	width: 75%;
}

#Recipe-Container {
	padding: 0.5em;
}

#Recipe-Picture-Edit-Container {
	position: absolute;
	background-color: rgba(71, 71, 71, 0.6);
}		

#Recipe-Picture-Edit {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: 2em;
}

/* Menu styles */
.side-menu {
	height: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: green;
	overflow-x: hidden;
	border-right-style: solid;
	border-color: green;
	border-width: 0.2em;
}

.side-menu a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 2em;
	color: #818181;
	display: block;
}

.side-menu ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	background-color: white;
}

.side-menu li:last-child {
	border-bottom: none;
}

.side-menu li a:hover {
	background-color: #73AD21;
	color: white;
}

#close-menu-button, #open-menu-button {
	width: 4em;
	padding: 0.5em;
}

#open-menu-button {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
}

#close-menu-button:hover, #open-menu-button:hover, a {
	cursor: pointer;
}

#close-menu-button-wrapper {
	text-align: right;
}