 /* General use */

.mce-tinymce {
	display: block !important;
}

/*.mce-panel {
	background-color: #92CD00 !important;
}*/

#Notification-Container {
	text-align: center;
	position: fixed;
	width: 100%;
	bottom: -2px;
	left: 0;
	display: none;
}

#Notification {
	border-radius: 0.7em 0.7em 0 0;
	border-color: #2C6700;
	border-style: solid;
	background-color: #92CD00;
	border-width: 2px 2px 0px 2px;
	padding: 0.3em;
	display: inline-block;
	color: white;
}

a {
	color: #92CD00;
}

a:hover {
	color: #2C6700;
}

.error-box {
	border-style: solid;
	border-width: 1px;
	display: none;
	font-weight: bold;
	color: #a94442;
	background-color: #f2dede;
	text-align: center;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 4px;
}

.warning-box {
	border-style: solid;
	border-width: 1px;
	display: none;
	font-weight: bold;
	color: #a94442;
	background-color: #f2dede;
	text-align: center;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 4px;
}

.success-box {
	border-style: solid;
	border-width: 1px;
	display: none;
	font-weight: bold;
	color: white;
	background-color: green;
	text-align: center;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 4px;
}

.ajax-loading {
	background-image: url("../Assets/Pictures/Standard/ajax-loader.gif");
	background-repeat: no-repeat;
	background-position: center;
}

.ajax-loader-container {
	max-width: 20em;
	margin-top: 2em;
}

.inline-block {
	display: inline-block;
}

.display-none {
	display: none;
}

.standard-olive-wrapper {
	border-style: solid;
	border-width: 1px;
	border-color: #92CD00;
	padding: 0.5em;
}

.olive-wrapper-grey-background {
	border-style: solid;
	border-width: 1px;
	border-color: #92CD00;
	background-color: #f2f2f2;
	padding: 0.5em;
}

.olive-wrapper-white-background {
	border-style: solid;
	border-width: 1px;
	border-color: #92CD00;
	background-color: white;
	padding: 0.5em;
}

.standard-button {
	border-style: solid;
	border-width: 1px;
	border-color: #92CD00;
	background-color: #92CD00;
	color: white;
	padding: 2px 2px 2px 2px;
	border-radius: 0.2em;
}

.standard-button:hover, .recipe-section-header:hover {
	background-color: #2C6700;
	color: white;
	cursor: pointer;
}

.olive-text-color {
	color: #92CD00;
}

.olive-background-color {
	background-color: #92CD00;
	color: white;
}

.olive-text-color-center {
	color: #92CD00;
	text-align: center;
}

/* Recipe styles */
.recipe-section-header {
	border-style: solid;
	border-width: 1px;
	border-color: #="#dbn#";
	border-bottom-style: none;
	z-index: 10;
	background-color: #92CD00;
	color: white;
	padding: 2px 2px 2px 2px;
	margin-bottom: -1px;
}

.recipe-section-body {
	border-style: solid;
	border-width: 1px;
	border-color: #92CD00;
	padding: 5px;
	background-color: white;
	word-break: break-all;
}

.recipe {
	border-style: solid;
	border-width: 4px;
	border-color: #2C6700;
	padding: 20px;
	background-color: #f2f2f2;
}

.recipe-picture {
	width: 50%;
}

.standard-top-radius {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

#Recipe-Title-Edit {
	width: 75%;
}

#Recipe-Container {
	padding: 0.5em;
}

#Recipe-Picture-Edit-Container {
	position: absolute;
	background-color: rgba(71, 71, 71, 0.6);
}		

#Recipe-Picture-Edit {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: 2em;
}

/*[name='ViewSection'] {
	overflow: hidden;
};*/

/* Menu styles */
.side-menu {
	height: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: #2C6700;
	overflow-x: hidden;
	border-right-style: solid;
	border-color: green;
	border-width: 0.2em;
}

.side-menu a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 2em;
	color: #818181;
	display: block;
}

.side-menu ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	background-color: white;
}

.side-menu li:last-child {
	border-bottom: none;
}

.side-menu li a:hover {
	background-color: #92CD00;
	color: white;
}

#Close-Menu-Button, #Open-Menu-Button {
	width: 4em;
	padding: 0.5em;
}

#Open-Menu-Button {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
}

#Close-Menu-Button:hover, #Open-Menu-Button:hover, a {
	cursor: pointer;
}

#Close-Menu-Button-Wrapper {
	text-align: right;
}

/* LOG-IN PAGE */

#Login-Form {
	margin-top: 5em;
	max-width: 20em;
	margin-bottom: 5em;
	background-color: #E5E4D7;
}

#Remember-Me {
	margin-bottom: 2em;
}

#Login-Button {
	font-size: 1.5em;
}

#Login-Header {
	margin-bottom: 1em;
	color: #92CD00;
	text-align: center;
}

#Login-MessageBox {
	border-style: solid;
	border-width: 1px;
	max-width: 20em;
	display: none;
	font-weight: bold;
	color: #a94442;
	background-color: #f2dede;
	text-align: center;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 4px;
}

/* USER SETTINGS PAGE */

/* ADD RECIPE PAGE */

#AddRecipe-DuplicateAlertBox li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#AddNewRecipe-Button {
	width: 50%;
}

/* RECIPE LIST PAGE */

#RecipeList-Container {
	margin-top: 2em;
}

#RecipeList-Table th {
	background-color: #92CD00;
	color: white;
}

#RecipeList-Table tbody tr:hover {
	cursor: pointer;
	background-color: #2C6700 !important;
	color: white !important;
}

/* RECIPE PAGE */